.footer1{

    text-align: center;
    background-color: black;
    color: aliceblue;
    display:cover;
    height: 3rem;
    /* width: 100%; */
}
.text{
    margin-top: 3rem;
    padding-top: 0.5rem;
}
